[Unit]
Description=GunLinuxBot Local Events Service
After=network.target

[Service]
WorkingDirectory=/home/loki/projects/gunlinuxbot_new/local_events
Environment="REDIS_URL=redis://gunlinux.ru/2"
ExecStart=uv run local.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
